<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.katze.clin"
    version   = "1.0.0">

<name>Clin Tv Mobile</name>

<description>
Transmición en vivo de Grupo Clin TV
</description>

<author href="https://example.com" email="you@example.com">
Katze Systems
</author>
<icon src="img/icono.png" />
</widget>
